.ConfigPage-title {
  margin-bottom: 32px;
}

.ConfigPage-title p {
  margin-bottom: 0;
}

.ConfigPage-button {
  width: 100%;
  margin-top: 30px;
}

.ConfigPage-check {
  flex: 1;
}

.ConfigPage-check .form-check-label {
  padding-top: 4px;
}